@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Roboto:wght@300&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.equal {
  background-color: green;
  color: white;
}

.orange {
  background-color: orange;
}

.erase {
  background-color: red;
  color: white;
}

.row {
  margin: 8px 0;
}

.row input {
  width: 291px;
  font-size: 22px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}