.text-center {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 48%;
  }
  
  .mx-auto {
    margin: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }